/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* general */
body {
    font-family: 'Lato', sans-serif;
}

main {
    padding-top: 4em;
}

@media screen and (max-width: 300px) {
    body {
        font-size: 5vw;
    }
}

@media screen and (min-width: 2560px) {
    body {
        font-size: 125%;
    }
}
