<section class="what-is-container">
    <h2>What is Repox?</h2>
    <div class="what-is">
        <div class="what-is-content">
            <h3>Don't repeat yourself</h3>
            <p>
                Repox gives you the opportunity to write code once
                and then reuse it in all projects. With Repox, you
                are able to build code with correct, tested, and
                ready-to-use blocks of code.
            </p>
        </div>
        <div class="what-is-content">
            <h3>Create a web application</h3>
            <p>
                With Repox, you are able to create a comprehensive
                web application in Front-end and Back-end
                technology. Repox supports major popular
                frameworks such as Angular, React, and Vue.
            </p>
        </div>
        <div class="what-is-content">
            <h3>Automate your work</h3>
            <p>
                Repox provides you with many tools for project
                development and project deployment processes.
            </p>
        </div>
    </div>
    <img src="images/repox-diagram.png" alt="Repox diagram"
         class="what-is-diagram">
</section>