/* reset styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general */

body {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    background-color: #F0EFF4;
}

/* mobile */

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background-color: #016FB9;
    color: #F0EFF4;
}

.nav-logo {
    padding: 10px;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: -3px;
}

.hamburger {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    padding: 10px;
    width: 50px;
    height: 50px;
}

.hamburger-line {
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background-color: #F0EFF4;
}

.menu {
    position: fixed;
    top: 50px;
    width: 100%;
    height: calc(100vh - 50px);
    background-color: #0265a8;
    left: 100%;
    transition: all 0.2s ease-in-out;
}

.menu-open .menu {
    left: 0;
}

.hamburger-line {
    transition: transform 0.25s ease-in-out;
}

.menu-open .hamburger-line-top {
    position: relative;
    transform: translateY(12px) rotate(45deg);
}

.menu-open .hamburger-line-middle {
    position: relative;
    transform: translateX(50px);
}

.menu-open .hamburger-line-bottom {
    position: relative;
    transform: translateY(-12px) rotate(-45deg);
}

.menu-list {
    list-style: none;
}

.menu-list a {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: #F0EFF4;
}
